<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/template :: head">

	<body>
	  <header th:replace="layouts/template :: header">
	  </header>
	  <!-- <h1 class="text-center">MANTENIMIENTO DE TABLAS</h1> -->
	  <div class="container my-4">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 animate__animated animate__wobble">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title text-center">Retiro</h5>
                              <form th:action="@{/crearRetiro}" th:object=${retiro} method="POST">
                                             <input type="hidden" th:field="*{cod_ret}">
									<label>Fecha</label>
									<input th:field="*{fecha}" type="date" class="form-control" > 
									<div class="form-group">
										<label>Monto: </label> 
										<input	th:field="*{monto}" type="number" class="form-control"> 
									</div>
									<div class="form-group">
										<label>N Cuenta Cliente: </label> 
										<input	th:field="*{cliente}" type="number" class="form-control">
									</div>
									
									<button type="submit" class="mt-3 btn btn-block btn-success btn-lg"><i class="fas fa-save"></i> Guardar</button>
						</form>
					</div>
				</div>
				
			</div>
			<div class="col-md-3"></div>
		</div>
		
	</div>
	    <footer th:replace="layouts/template :: footer"></footer>
	</body>
	

</html>